---

---

<section class="section_2_products_preview">
  <div class="container_section_2_products_preview">
    soy la sesión de Products view
  </div>
</section>

<style>
  .section_2_products_preview {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: bisque;
  }
</style>
