---

---

<section class="section_1_slider">
  <div class="container_section_1_slider">soy la sesión de slider</div>
</section>

<style>
  .section_1_slider {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: aqua;
  }
</style>
