---
import Layout from "../layouts/Layout.astro";
import Section1Slider from "../components/section_1_slider/Section1Slider.astro";
import Section2ProductsPreview from "../components/section_2_products_preview/Section2ProductsPreview.astro";
---

<Layout title="Empresa base">
  <div class="container">
    <Section1Slider />
    <Section2ProductsPreview />
  </div>
</Layout>

<style>
  .container {
    height: 100%;
    width: 100%;
    /* overflow-y: scroll; */
    /* scroll-snap-type: y mandatory; */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(136, 136, 136, 0.2) rgba(229, 229, 229, 0.2); /* Firefox */
  }

  .container::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }

  .container::-webkit-scrollbar-track {
    background: rgba(
      229,
      229,
      229,
      0.2
    ); /* Transparent background of the scrollbar track */
  }

  .container::-webkit-scrollbar-thumb {
    background-color: rgba(
      235,
      235,
      235,
      0.2
    ); /* Transparent color of the scrollbar thumb */
    border-radius: 5px; /* Roundness of the scrollbar thumb */
    border: 2px solid rgba(245, 244, 244, 0.2); /* Padding around the scrollbar thumb */
  }
</style>
